/**
 * Some placeholder SASS
 */
body{
    background-color: #F4F4F4;
}
.my-container {
    max-width: 800px;
}

.footer {
    margin-bottom: 40px;
}
.header-main-menu{
    margin-bottom: 0;
}
.header-bg{
    background-color:#C10930;
}

.banner{
    background-image: url('../../images/banner-bg.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    min-height:500px;
    /*   position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .media-body,.title{
        color:#fff;
    }
    .banner-content{
        background-color: #60625f;
        padding: 25px;
        opacity: 0.95;
    }
    .banner-content>div:nth-child(2n+1) {
        border-left: #B4C556 1px solid;
    }
    .title{
        font-size: 26px;
        color: white;
        margin-top:0;
    }
}

/* Red */
$bgDefault      : #C10930;
$bgHighlight    : #c0392b;
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc; 

/* --- Style --- */
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}

.navbar-default,.navbar{
    border: 0 !important;
}